#
# .gitattributes
#

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.h text
*.C text
*.CPP text
*.txt text
makefile text
Makefile text
Makefile.inc text
*.asm text
*.a65 text
*.i65 text
sources text
dirs text
*.rc text
*.def text
*.rules text
*.1 text
*.make text
*.sh text
*.mc text
*.cat text
*.inf text
*.bat text
*.bat.sample

# Declare files that will always have CRLF line endings on checkout.
*.patch text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.rtf text eol=crlf
*.sln text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.hex text eol=crlf
*.aps text eol=crlf
*.aws text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.bmp binary
*.ico binary
*.gif binary

# Archive extensions
*.tar binary
*.tgz binary
*.gz binary
*.tbz binary
*.bz binary
*.bz2 binary
*.zip binary

# CBM extensions
*.d64 binary
*.g64 binary
*.d71 binary
*.d80 binary
*.d81 binary
*.d82 binary
*.crt binary
*.tap binary
*.t64 binary
*.lnx binary
*.prg binary
*.seq binary

# Windows binary extensions
*.sys binary
*.lib binary
*.dll binary
*.pdb binary
*.exe binary
