#
# .gitattributes
#

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.hex text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.bmp binary
*.ico binary

*.tar binary
*.tgz binary
*.gz binary
*.zip binary

*.d64 binary

*.sys binary
*.lib binary
*.dll binary
*.pdb binary
*.exe binary
