SUBSYSTEM!="usb_device", ACTION!="add", GOTO="opencbm_rules_end"

# xu1541
ATTR{idVendor}=="0403", ATTR{idProduct}=="c632", GROUP="plugdev", MODE="0664"

LABEL="opencbm_rules_end"
