#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Interface DLL for Debugging OPENCBM with the help of VICE"
#define VER_INTERNALNAME_STR        "opencbmvice.dll"

#include "version.common.h"
#include "common.ver"
